.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-button {
  margin-top: 25px !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  cursor: pointer;
}

.nav-title {
  text-align: left;
}

.biz-paper {
  margin-top: 50px;
}

p {
  font-size: 12pt;
}

.nav-bar {
  background-color: #3bb371;
}

.business-card {
  margin-bottom: 80pt;
}

h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
